* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}
html {
  font-size: 100%;
}
header {
  width: 100%;
  border-bottom: 1px solid #333;
  height: 5rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
a {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  color: #000;
  border: 2px solid #473bf0;
  border-radius: 20px;
}
.container {
  border: 1px solid red;
  height: 100vh;
  margin: 0 auto;
}
.container h1 {
  text-align: center;
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: 50%;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 10px;
  align-items: center;
}
label {
  display: block;
  margin-bottom: 5px;
}
form input[type="text"],
form input[type="number"],
select {
  width: 400px;
  padding: 5px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 5px;
}

form {
  background-color: #f7f7f8;
  border-bottom: 20px;
}

form input[type="text"]:focus,
form input[type="number"]:focus,
select:focus {
  border: 2px solid #473bf0;
}

.Submit {
  margin: 20px;
  padding: 10px 30px;
  width: 400px;
  border-radius: 10px;
  color: #fff;
  background-color: #473bf0;
}

/* Table output */
.container--hero {
  width: 50%;
  margin: 3rem auto;
  padding: 10px 20px;
}
.details {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  margin-top: 20px;
}
